<style>
	
	.teste p { color: red;}
	.table_calendario {margin:0 auto;border-collapse:collapse;}
	.table_calendario tr td  {border:1px solid #023465; ; padding:0; padding:3px 15px; text-align:center;}
	.text_strong{font-weight:bold}
	.background_tr{background:#023465; color:#FFF; border:1px solid white;}
</style>

	   <div class="teste">
                  <p >CALENDÁRIO 2012</p> 
                  <p >PÓS-GRADUAÇÃO EM CIÊNCIAS MORFOFUNCIONAIS</p>
                  <p >REUNIÕES CCP E CPG</p>
    </div>

        <table class="table_calendario">
            <tr class="background_tr">
                <td class="text_strong">Reunião<br>CCP - BMA</td>
                <td class="text_strong">Fechamento Pauta<br>CPG - ICB</td>
                <td class="text_strong">Reunião<br>CPG - ICB</td>
            </tr>
            <tr>
                <td><span class="text_strong">26 de junho</span><br>(terça)</td>
                <td><span class="text_strong">02 de julho</span><br>(segunda)</td>
                <td><span class="text_strong">19 de julho</span><br>(quinta)</td>
            </tr>
            <tr>
                <td><span class="text_strong">31 de julho</span><br>(terça)</td>
                <td><span class="text_strong">06 de agosto</span><br>(segunda</td>
                <td><span class="text_strong">16 de agosto</span><br>(quinta)</td>
            </tr>
            <tr>
                <td><span class="text_strong">28 de agosto</span><br>(terça)</td>
                <td><span class="text_strong">03 de setembro</span><br>(segunda)</td>
                <td><span class="text_strong">13 de setembro</span><br>(quinta)</td>
            </tr>
            <tr>
                <td><span class="text_strong">27 de setembro</span><br>(quinta)</td>
                <td><span class="text_strong">01 de outubro</span><br>(segunda)</td>
                <td><span class="text_strong">18 de outubro</span><br>(quinta)</td>
            </tr>
            <tr>
                <td><span class="text_strong">23 de outubro</span><br>(terça)</td>
                <td><span class="text_strong">05 de novembro</span><br>(segunda)</td>
                <td><span class="text_strong">13 de novembro</span><br>(terça)</td>
            </tr>
            <tr>
                <td><span class="text_strong">27 de novembro</span><br>(terça)</td>
                <td><span class="text_strong">03 de dezembro</span><br>(segunda)</td>
                <td><span class="text_strong">18 de dezembro</span><br>(terça)</td>
            </tr>
        </table>
  
    
    
